<h3>Have a account already? <a routerLink="/login">Back to login</a> </h3>

<form class="add-form">
    <div class="form-control">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Full Name" />
    </div>

    <div class="form-control">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Insert your username" />
    </div>

    <div class="form-control">
        <label for="email">Username</label>
        <input type="email" name="email" id="email" placeholder="Insert your email" />
    </div>

    <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" />
    </div>

    <div class="form-control">
        <label for="r-password">Password Confirmation</label>
        <input type="password" name="r-password" id="r-password"placeholder="Repeat inserted Password" />
    </div>

    <input type="submit" value="Register" class="btn btn-block">
</form>