<h3>New Here? <a routerLink="/register">Register</a> </h3>
<form class="add-form">
    <div class="form-control">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Insert your username" />
    </div>
    <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" id="day" placeholder="Password"/>
    </div>
    <input type="submit" value="Login" class="btn btn-block">
</form>